<div class="header">
  <div class="header__container">

    <!-- Logo voiture à gauche -->
    <div class="header__logo-left">
      <%= image_tag "logo.png", alt: "Car Logo" %>
    </div>

    <!-- Image NitroClub centrée -->
    <div class="header__center">
      <%= link_to root_path do %>
        <%= image_tag "nitroclub.png", alt: "NitroClub Logo" %>
      <% end %>
    </div>

    <!-- Actions à droite -->
    <div class="header__actions">
      <span>DEVENEZ MEMBRE DU CLUB</span>
      <i class="fas fa-globe icon"></i>

      <!-- Conteneur utilisateur et menu (aligné à droite) -->
      <div class="user-container">
        <% if user_signed_in? %>
          <%= link_to user_dashboard_path do %>
            <i class="fas fa-user icon"></i>
          <% end %>

          <%= link_to "#", class: "menu-toggle" do %>
          <i class="fas fa-bars icon"></i>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
          <i class="fas fa-user icon"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
