<% @cars.each do |car| %>
  <div class="car-card">
    <%= image_tag "placeholder-car.png", class: "car-card__image", alt: car.name %>
    <div class="car-card__details">
      <h3><%= car.name %></h3>
      <p><%= car.style %></p>
      <p>Prix : <strong><%= car.price %>€ / jour</strong></p>
      <p>Année : <%= car.year %></p>
      <p><%= truncate(car.description, length: 80) %></p>
      <a href="<%= car_path(car) %>" class="car-card__btn">Voir Plus</a>
    </div>
  </div>
<% end %>

<div id="load-more" data-next="<%= cars_path(page: @cars.next_page) if @cars.next_page %>">
  Charger plus...
</div>
