<%= render "components/header" %>

<div class="search-bar">
  <input type="text" placeholder="Où ? Les + belles de ta région">
  <input type="date">
  <input type="date">
  <button class="search-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <circle cx="11" cy="11" r="8"></circle>
      <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    </svg>
  </button>
</div>

<div class="categories-container">
  <div class="category" data-category="stance">
    <%= image_tag "stance.png", alt: "Stance" %>
    <p>Stance</p>
  </div>
  <div class="category" data-category="muscle">
    <%= image_tag "muscle.png", alt: "Muscle" %>
    <p>Muscle</p>
  </div>
  <div class="category" data-category="neon">
    <%= image_tag "neon.png", alt: "Néon" %>
    <p>Néon</p>
  </div>
  <div class="category" data-category="sono">
    <%= image_tag "sono.png", alt: "Sono" %>
    <p>Sono</p>
  </div>
  <div class="category" data-category="offroad">
    <%= image_tag "offroad.png", alt: "Offroad" %>
    <p>Offroad</p>
  </div>
  <div class="category" data-category="mini">
    <%= image_tag "mini.png", alt: "Mini" %>
    <p>Mini</p>
  </div>
</div>

<div class="cars-container">
  <% @cars.each do |car| %>
    <div class="car-card">
      <div class="car-card__image-container">
        <%= link_to car do %>
          <% if car.public_id.present? %>
            <%= image_tag "cards/#{car.public_id}.jpg", class: "car-card__image", alt: car.name %>
          <% else %>
            <p>Image non disponible</p>
          <% end %>
        <% end %>
      </div>

      <div class="car-card__details">
        <div class="car-card__header">
          <h3><%= car.name %></h3>
          <div class="car-card__rating"></div><%= car.user.email %>
        </div>
        <p class="car-card__location">Maubeuge, Nord</p>
        <p class="car-card__price"><%= car.price %>€ / jour</p>
      </div>
    </div>
  <% end %>
</div>

<div id="load-more"
     data-controller="infinite-scroll"
     data-action="scroll@window->infinite-scroll#loadMore"
     data-next-page="<%= cars_path(page: @cars.next_page) if @cars.next_page %>">
</div>
