<%= render "components/header" %>

<div class="search-bar">
  <input type="text" placeholder="Où ? Les + belles de ta région">
  <input type="date">
  <input type="date">
  <button class="search-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <circle cx="11" cy="11" r="8"></circle>
      <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    </svg>
  </button>
</div>

  <div class="categories-container">
  <div class="category">
    <%= link_to cars_path(q: { style_eq: "stance" }), remote: true, class: "category-link" do %>
      <%= image_tag "stance.png", alt: "Stance" %>
    <% end %>
    <p>Stance</p>
  </div>

  <div class="category">
    <%= link_to cars_path(q: { style_eq: "muscle" }), remote: true, class: "category-link" do %>
      <%= image_tag "muscle.png", alt: "Muscle" %>
    <% end %>
    <p>Muscle</p>
  </div>

  <div class="category">
    <%= link_to cars_path(q: { style_eq: "neon" }), remote: true, class: "category-link" do %>
      <%= image_tag "neon.png", alt: "Néon" %>
    <% end %>
    <p>Néon</p>
  </div>

  <div class="category">
    <%= link_to cars_path(q: { style_eq: "sono" }), remote: true, class: "category-link" do %>
      <%= image_tag "sono.png", alt: "Sono" %>
    <% end %>
    <p>Sono</p>
  </div>

  <div class="category">
    <%= link_to cars_path(q: { style_eq: "offroad" }), remote: true, class: "category-link" do %>
      <%= image_tag "offroad.png", alt: "Offroad" %>
    <% end %>
    <p>Offroad</p>
  </div>

  <div class="category">
    <%= link_to cars_path(q: { style_eq: "mini" }), remote: true, class: "category-link" do %>
      <%= image_tag "mini.png", alt: "Mini" %>
    <% end %>
    <p>Mini</p>
  </div>
</div>

<div class="cars-container">
  <%= render partial: "cars/cars_list", locals: { cars: @cars } %>
</div>

<div id="load-more"
     data-controller="infinite-scroll"
     data-action="scroll@window->infinite-scroll#loadMore"
     data-next-page="<%= cars_path(page: @cars.next_page) if @cars.next_page %>">
</div>
